@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    padding: 3rem 0;
    display: none;

    .text-center {
        text-align: center;
    }
}

.mostrar {
    display: block;
}
.ocultar {
    display: none;
}
.imagen {
    height: 20rem;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;
    @include m.tablet {
        height: auto;
    }
}