@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }
    .imagenSupport{
        height: 20rem;
        background-image: url(../img/support.png);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
        padding: 5rem;
	}					  
    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        color:#D4AF37;
    }
}

.barra {
    margin: v.$separacion 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    .boton {
        @include m.boton(v.$negro,v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;		  
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 1rem 0;
		color: #ffff;
    }						  
}
.contenedor-home{
    margin-bottom: v.$separacion;
    color:#D4AF37;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
    p{
        color:v.$gris;
    }
    .boton {
        margin: 0 0 1rem 0;
    }

    @include m.tablet {
        display: flex;        
        min-height: 100vh;
    }

    .appHome {
        width: 99%;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .imgLogo{
        height: 7rem;
        width: 6rem;
        background-image: url(../img/logo-barber.png);
        background-size: 5rem;
        background-position: center center;
    }

    .imagenHome {
        height: 50rem;
        background-image: url(../img/navbarBarberia.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
        bottom: 7rem;
    }

    .corte{
        width: 17rem;
        height:18rem;
        background-image: url(../img/corte1.jpg);
        background-size: cover;
        position: relative;
        left: 15rem;
    }

    .corte2{
        width: 17rem;
        height:18rem;
        background-image: url(../img/corte2.jpg);
        background-size: cover;
        position: relative;
        left: 15rem;
    }

    .corte3{
        width: 17rem;
        height:18rem;
        background-image: url(../img/corte3.jpg);
        background-size: cover;
        position: relative;
        left: 15rem;
    }

    .corte4{
        width: 17rem;
        height:18rem;
        background-image: url(../img/corte6.jpg);
        background-size: cover;
        position: relative;
        left: 15rem;
    }

    .home-courses{
        width: 90%;
        margin-left: 7rem;
        color: #ffff;
    }

    .descripcion1{
        position: relative;
        left: 35rem;
        bottom: 19rem;
        width: 18rem;
        height: 11rem;
    }

    h1{
        color: #D4AF37;
        position: relative;
        bottom: 4rem;
    }

    h2{
        position: relative;
        right: 37rem;
        top: 15rem;
        color: #D4AF37;
        font-size: 5rem;
    }
    
    h3{
        position: relative;
        right: 42.5rem;
        top: 11rem;
        color: #D4AF37;
        font-size: 2rem;
    }
    nav{
        position: relative;
        bottom: 2.5rem;
    }
    
}
.contenedor-blog{
    @include m.tablet {
        display: grid;
        min-height: 100vh;
    }

    p{
        color:v.$gris;
    }

    width: 95%;
    margin: 0 auto;
    padding: 3rem 0;

    .fakeimgPpal {
        background-image: url(../img/balsamoBlog.jpg);
        width: 55%;
        height: 300px;
    }

    .fakeimgAuthor {
        background-image: url(../img/andres.jpg);
        width: 88%;
        height: 310px;
    }

    .fakeimgfooter {
        background-image: url(../img/balsamo.jpg);
        width: 100%;
        height: 250px;
    }
    

    .imgLogo{
        height: 7rem;
        width: 6rem;
        background-image: url(../img/logo-barber.png);
        background-size: 5rem;
        background-position: center center;
    }

    * {
        box-sizing: border-box;
    }

    /* Header/Blog Title */
    .header {
        padding: 3px;
        font-size: 4px;
        text-align: center;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Add a card effect for articles */
    .card {
        padding: 20px;
        margin-top: 20px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }
}

.footer {
    width: 100%;
    background-color: v.$negronegro;
    .text-small {
        font-size: 0.9rem;
      }
      
      a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
      }
      
      a:hover, a:focus {
        text-decoration: none;
      }
      
      .form-control {
        background: #212529;
        border-color: #545454;
      }
      
      .form-control:focus {
        background: #212529;
      }          
    
}